---
interface NavItem {
  name: string;
  href: string;
}

const nav_links: NavItem[] = [
  // {
  //   name: "Tags",
  //   href: "/tags",
  // },
  {
    name: "Portfolio Website",
    href: "https://masayashida.com",
  },
];
---

<header>
  <a href="/" class="header__logo">
    <img
      src="/assets/maya-logo-icon.svg"
      alt="Masaya's Logo"
      width="48"
      height="48"
    />
    <span>Masaya's Thoughts</span>
  </a>
  <nav>
    {
      nav_links.map((link) => {
        return <a href={link.href}>{link.name}</a>;
      })
    }
  </nav>
</header>

<style is:inline>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--content_max_width);
    margin: 0 auto;
    padding: 1rem var(--padding_horizontal) 1rem var(--padding_horizontal);
    border-bottom: 1px solid var(--clr_grey_shade_e);
  }
  .header__logo {
    display: flex;
    align-items: center;
    text-decoration: unset;
    font-weight: 600;
  }
  .header__logo > span {
    margin-left: 0.75rem;

    color: var(--clr_primary);
    font-size: 1.125rem;
    font-weight: 600;
  }
  header nav a {
    text-decoration: none;
    color: var(--clr_primary);
    font-weight: 600;
    transition: color 200ms ease-out;
  }
  header nav a:visited {
    color: var(--clr_primary);
  }
  header nav a:hover,
  header nav a:focus {
    color: var(--clr_primary_shade_a);
  }
  header nav a:not(:last-of-type) {
    margin-right: 1rem;
  }
</style>
