---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import ArticleList from "../components/home/ArticleList.astro";
---

<Layout title="Blog - Masaya Shida">
  <main>
    <Hero />
    <ArticleList />
  </main>
</Layout>

<style>
  main {
    max-width: var(--content_max_width);
    padding: 2.5rem var(--padding_horizontal);
    margin: 0 auto;
  }
</style>
