---
const hero_text: string =
  "Welcome to my personal blog. This is where I articulate and share my thoughts on topics that I care or am learning about.";
---

<section class="section-hero">
  <p>{hero_text}</p>
</section>

<style>
  .section-hero {
    margin: 0 0 2.5rem 0;
  }
  .section-hero p {
    font-size: var(--type_scale_2);
    max-width: min(40ch, 100%);
  }
</style>
