---
import MetaTags from "../components/layout/MetaTags.astro";
import Favicons from "../components/layout/Favicons.astro";
import Header from "../components/layout/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A personal blog to share my thoughts as I learn more about technology and life."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <MetaTags />
    <Favicons />
    <title>{title}</title>
    <style is:global>
      @import "../styles/reset.css";
      @import "../styles/variables.css";
      @import "../styles/global.css";
    </style>
  </head>
  <body data-theme="">
    <Header />
    <slot />

    <script is:inline>
      // check localStorage for theme preference
      const stored_theme = localStorage.getItem("preferred-theme");

      function set_theme(theme) {
        document.body.dataset.theme = theme;
        localStorage.setItem("preferred-theme", theme);
      }

      if (stored_theme) {
        if (stored_theme === "dark") {
          set_theme("dark");
        } else {
          set_theme("light");
        }
      } else {
        // no localStorage preference
        const prefers_dark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        if (prefers_dark) {
          set_theme("dark");
        } else {
          set_theme("light");
        }
      }
    </script>
  </body>
</html>
