---
import MetaTags from "../components/layout/MetaTags.astro";
import Favicons from "../components/layout/Favicons.astro";
import Header from "../components/layout/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A personal blog to share my thoughts as I learn more about technology and life."
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

	<MetaTags />
    <Favicons />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <style is:global>
      @import "../styles/reset.css";
      @import "../styles/variables.css";
      @import "../styles/global.css";
    </style>
  </body>
</html>
